<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Cloud Computing Project - Consumer</title>
</head>
<style>
        .center{
            margin: auto;
            position:absolute;
            top:20%;
            left: 50%;
            transform:translateY(-50%);
            transform:translateX(-50%)
            /* transform:translateY(-50%); */
        }

</style>
<body class="bg-primary">
    <div class="container center">
        <div class="row mt-4">
            <div class="col-xs m-auto ">
                <div class="card card-body text-white bg-dark text-center" style="border-radius:10px">
                <h3 class="text-white">Covid19 API</h3>
                <p>Log In</p>
                <form action="/login" method="POST">
                    <div class="form-group">
                    <label for="name">Username</label>
                    <input
                        type="name"
                        id="name"
                        name="name"
                        class="form-control"
                        placeholder="Enter Name"
                        style="border-radius: 10px;"
                    required>
                    <label for="Password" class="mt-1">Password</label>
                    <input
                        type="password"
                        id="Password"
                        name="Password"
                        class="form-control"
                        placeholder="Enter Name"
                        style="border-radius: 10px;"
                    required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" style="border-radius:10px">
                    Start
                    </button>
                </form>
                </div>
            </div>
            </div>
    </div>
</body>
</html>